<div>
  <h3>Acceso</h3>

  <form #loginForm="ngForm" (ngSubmit)="sendForm()">
    <div class="row mb-3">
      <label
        for="userEmail"
        class="col-sm-2
        col-form-label"
      >Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          id="userEmail"
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="userPassword"
        class="col-sm-2 col-form-label"
      >Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="userPassword"
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
