<div class="tabla-productos">
  <h2>Pasteles y postres</h2>

  <table class="table table-striped" *ngIf="hasProducts()">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productos">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <button
            class="btn btn-outline-primary"
            [routerLink]="['/productos', product.id]"
          >Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>